name: Build and push docker image #haida lname ana bektbo metl mabade 

on: # hone b2elo listen lal events lirah ekteblak yehon
  push:
   
jobs:      #son but est de faire build and push 
  build-and-push:
    runs-on: ubuntu-latest #hay bhadeda hasab l os lal virtual machine aw EC2 lira7 ya3ml github run lal workflow 3laya 

    steps: #lsteps taba3 ljob ya3ne chu l echya yali rah yru7 ynafeza w 3atul hk bikuno chaklon 3atul bl step awal chi bikun el name w ba3den ya ama luses aw el run w fi kmn en aw id-working directory w continuig error bs marah nehke 3anon hone 
      - name: checkout # hay l uses workflow action bta3mel checkout lal code li juwa hay el repository 
        uses: actions/checkout@v6 #hayda el workflow ma3 el version ta3ulto ble2i bl github.com:actions , hay luses daruriye law chu makn el language taba3 l app lmsta3mlo lhadaf mena eno ta3ml clon lal repositry juwa el CI enviroment cz baleha la el dockerfile wala el code wala el package.json seront disponible 

      - name: login to dockerhub 
        uses: docker/login-action@v3  # uses katabtlo url cz hay l url hiye 3ibara 3an workflow jehze bigithub lata3ml action m3ayane 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }} # (belfichier hiye vvars. bas ana hatayta secret) wa2ta fetet3ala el login-action bl github l2it eno v3 hiye lmoteha w 3atene ektob username w password bihayda el chakel
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push docker image to docker hub
        env: #env lama ykun bade 3ati envirement variable .env
          REPOSITORY: ngnix #hone haida esm el repository li ana 5ala2to 3nde bl github sabato hone huwe w latest lahata lcommande docker build wpush bs elle va creer l'image te5od esma mn hone 
          IMAGE_TAG: latest
        run: |  #run betsa3mela lama kun bade ektob commande , eza bade ektobe commande wehde bl run bhot el commnade 3a nafes sater el run bas Wa2ta ykun bade ektob aktar mn commande bhot pip 3a sater el run w bnzal 3anl sater
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/$REPOSITORY:$IMAGE_TAG .  
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/$REPOSITORY:$IMAGE_TAG
        # el . li be ligne deocker build hiye 3ibara 3an ./Dockerfile ya3ne bedel 3al dockerfile yali bel repertoire courant 
        # hone ba3te lal image tag ba3ed les 2 point w kamn bas bade samiya esm el username li3nde 3al githib (cz 3atul bas a3ml push 3a repositry ana 3mltela creation le nom va commencer par le username/repository) w b7ot : w ba3tiya el esm libade samiya fi lihuwe el tag
        
